{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TODO.COM</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tache') }}">
            Retour
        </a>
    </li>
</ul>
    <br>
    <br>
    <br>
    <br>
    <br>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <i> <h6 align="center">  Email: jamalr615@gmail.com //Copyright@Alhammadi Gamal</h6></i>
{% endblock %}
